<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>


<nav id="desktop-nav">
  <div class="logo">Akib</div>
  <div>
    <ul class="nav-links">
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <!-- <li><a href="#projects">Projects</a></li> -->
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>

<nav id="hamburger-nav">
  <div class="logo">Md. Saidul Islam Akib</div>
  <div class="hamburger-menu">
    <div class="hamburger-icon" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="menu-links">
      <li><a href="#about" (click)="toggleMenu()">About</a></li>
      <li><a href="#experience" (click)="toggleMenu()">Experience</a></li>
      <!-- <li><a href="#projects" (click)="toggleMenu()">Projects</a></li> -->
      <li><a href="#contact" (click)="toggleMenu()">Contact</a></li>
    </div>
  </div>
</nav>

<section id="profile">
  <div class="section__pic-container">
    <img src="assets/akib.png" alt="Md. Saidul Islam Akib" />
  </div>
  <div class="section__text">
    <p class="section__text__p1">Hello, I'm</p>
    <h1 class="title">Md. Saidul Islam Akib</h1>
    <p class="section__text__p2">Software Engineer</p>
    <div class="btn-container">
      <button class="btn btn-color-2" (click)="openPDF()">Download CV</button>
      <button class="btn btn-color-1" (click)="scrollTo('contact')">Contact Info</button>
    </div>
    <div id="socials-container">
      <img src="assets/linkedin.png" alt="LinkedIn" class="icon" (click)="openLink('https://www.linkedin.com/in/akib99')" />
      <img src="assets/github.png" alt="GitHub" class="icon" (click)="openLink('https://github.com/Akib558')" />
    </div>
  </div>
</section>

<section id="about">
  <p class="section__text__p1">Get To Know More</p>
  <h1 class="title">About Me</h1>
  <div class="section-container">
    <div class="about-details-container">
      <div class="about-containers">
        <div class="details-container">
          <img src="assets/experience.png" alt="Experience" class="icon" />
          <h3>Experience</h3>
          <p>February 2024 to Current <br /><b>Jr. Software Engineer at <a href="https://technonext.com/" target="_blank">TechnoNext Software Ltd.</a></b></p>
        </div>
        <div class="details-container">
          <img src="assets/education.png" alt="Education" class="icon" />
          <h3>Education</h3>
          <p>B.Sc. in <b>CSE</b>, from <a href="https://www.kuet.ac.bd/" target="_blank">KUET</a><br />
          H.S.C. in Science from <a href="https://ndc.edu.bd/" target="_blank">NDC</a></p>
        </div>
      </div>
      <div class="text-container">
        <p>
          I am a passionate learner and a dedicated Linux enthusiast, always eager to explore the depths of technology. A natural problem solver with a knack for tackling challenges head-on, I thrive in the dynamic world of tech. As a self-proclaimed tech nerd, I find joy in unraveling the complexities of various systems and am adept at adapting to new technologies in a short period of time. Coding is not just a skill for me; it's a love affair. Whether it's crafting elegant solutions or diving into lines of code to build something meaningful, I am at my best when surrounded by the world of programming. With a mindset that embraces change and a genuine enthusiasm for all things tech, I am ready to take on new opportunities and contribute to the ever-evolving landscape of technology.
        </p>
      </div>
    </div>
  </div>
  <img src="assets/arrow.png" alt="Arrow" class="icon arrow" (click)="scrollTo('experience')" />
</section>

<section id="experience">
  <p class="section__text__p1">Explore My</p>
  <h1 class="title">Experience</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container">
        <h2 class="experience-sub-title">Frontend Development</h2>
        <div class="article-container">
          <article *ngFor="let skill of ['HTML', 'CSS', 'JavaScript', 'TypeScript', 'Material UI']">
            <img src="assets/checkmark.png" alt="Checkmark" class="icon" />
            <div>
              <h3>{{ skill }}</h3>
              <p>{{ skill === 'JavaScript' || skill === 'TypeScript' ? 'Basic' : (skill === 'SASS' || skill === 'Material UI' ? 'Intermediate' : 'Experienced') }}</p>
            </div>
          </article>
        </div>
      </div>
      <div class="details-container">
        <h2 class="experience-sub-title">Backend Development</h2>
        <div class="article-container">
          <article *ngFor="let skill of ['MSSQL', '.NET', 'Git']">
            <img src="assets/checkmark.png" alt="Checkmark" class="icon" />
            <div>
              <h3>{{ skill }}</h3>
              <p>{{ skill === 'PostgreSQL' ? 'Basic' : 'Intermediate' }}</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/arrow.png" alt="Arrow" class="icon arrow" (click)="scrollTo('contact')" />
</section>

<!-- <section id="projects">
  <p class="section__text__p1">Browse My Recent</p>
  <h1 class="title">Projects</h1>
  <div class="experience-details-container">
    <div class="about-containers">
      <div class="details-container color-container" *ngFor="let project of ['project-1.png', 'project-2.png', 'project-3.png']; let i = index">
        <div class="article-container">
          <img [src]="'assets/' + project" [alt]="'Project ' + (i + 1)" class="project-img" />
        </div>
        <h2 class="experience-sub-title project-title">Project {{ i + 1 }}</h2>
        <div class="btn-container">
          <button class="btn btn-color-2 project-btn" (click)="openLink('https://github.com/')">Github</button>
          <button class="btn btn-color-2 project-btn" (click)="openLink('https://github.com/')">Live Demo</button>
        </div>
      </div>
    </div>
  </div>
  <img src="assets/arrow.png" alt="Arrow" class="icon arrow" (click)="scrollTo('contact')" />
</section> -->

<section id="contact">
  <p class="section__text__p1">Get in Touch</p>
  <h1 class="title">Contact Me</h1>
  <div class="contact-info-upper-container">
    <div class="contact-info-container">
      <img src="assets/email.png" alt="Email" class="icon contact-icon email-icon" />
      <p><a href="mailto:saidulislamakib99@gmail.com">{{email}}</a></p>
    </div>
    <div class="contact-info-container">
      <img src="assets/linkedin.png" alt="LinkedIn" class="icon contact-icon" />
      <p><a href="https://www.linkedin.com" target="_blank">LinkedIn</a></p>
    </div>
  </div>
</section>

<footer>
  <nav>
    <div class="nav-links-container">
      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Experience</a></li>
        <!-- <li><a href="#projects">Projects</a></li> -->
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <p>&copy; 2023 Md. Saidul Islam Akib. All Rights Reserved.</p>
</footer>
